body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 25px;
    background: rgba(240, 240, 240, 0.9);
}

h1 {
  margin-top: 0;
}

.center {
    text-align: center;
}
